body{
    background: url("https://lh3.googleusercontent.com/xfYHegKYjZ_eBv3BjWptGsi78lQS6cu6WVlVkF30zdldMwg2_Rw6BhEEDF2agOMN15BOiX--Ei-kRqATeH4OOZlFbsF5ZwuJSL-UbuDaDNkvf6hDVSPJdj7qwzGO-rsBBLFEEH8oJA=w600-h315-p-k");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px black;
    margin: 0;
}
body *{
    font-weight: 900;
}
.hero{
    width: 30%;
}
.formulario h1{
    font-size: 3em;
}
.tam_img{
    height: 30em;
}
.bordes{
    border-style: none none solid none;
}
.all_bordes{
    border-style: solid;
}
.sin_datos{
    text-align: center;
}
.con_fondo{
    background-image: url("https://lh3.googleusercontent.com/lbndsR1reBipSrnAUVCbcfVT-IPliYs1KarYdb9knOvrUqEwyt9pNFUv3lP-FV4nzNVaGdW0FZDVIi1ClFtcfOFRT_FwZDeB3mZh1FFGsV8Uk636Zr6PA7u4Xi4Ep4M1CI7lv6ppcQ=w2400");
}
.sin_fondo *{
    background: transparent;
    
}


@media (max-width: 500px) {
    .con_fondo{
        background-image: url("https://lh3.googleusercontent.com/b-ZOCPocOIt0oKVDfNOT40BApJsXgF8ahx64jqy6e1CEEDBjln2-2BUblT8wqlpwNC9l2aAmm3xfxxojffz9svhDw498MeLMhn6rgA452O4hHtIefU0sjo8GKQAZh-UuwDMQ2aJvnw=w2400");
    }
    .hero{
        width: 100%;
    }
    .formulario h1{
        font-size: 1em;
    }
    .tam_img{
        height: 15em;
    }
    .contenido{
        height: fit-content;
    }
    #lista *{
        padding: 0;
        border: 1px solid
    }
    .con_fondo h2{
        font-size: 1.5em;
    }
    canvas{
        display: none
    }
}
